header {
    background: rgba(255, 255, 255, 0.1);
}
body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(2px);
    background-size: cover;
    margin: 0;
}
nav {
    background: rgba(0, 0, 0, .6);
    padding: 10px 10px 10px 10px;
    align-content: center;
}
main {
    color: white;
    font-family: Lexend;
    float: right;
    position: relative;
    background: rgba(0, 0, 0, .6);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    width: 80%;
}
footer {
    color: white;
    width: 100%;
    margin: auto;
    font-family: Lexend;
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#navheader {
    float: right;
    margin-top: 13px;
}
#navlist {
    color: white;
    list-style-type: none;
    padding-inline-start: 10px;
    font-family: Lexend;
    font-size: 30pt;
    margin: 0;
}
#gallery {
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
}
#server {
    background: rgba(0, 0, 0, .6);
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
}
#contact {
    background: rgba(0, 0, 0, .6);
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    text-align: center;
}
.left {
    float: left;
    width: 15%;
    font-family: Lexend, serif;
    color: white;
    margin: 0 0 0 1.5%;
    position: relative;
}
a {
    color: white;
}
a:hover {
    color: gray;
}

dd {
    padding: 10px;
}
.devlogimg {
    display: block;
    margin: auto;
    width: 75%;
    border: 4px solid white;
}
@font-face { font-family: Lexend; src: url("font/Lexend.ttf") }
@font-face { font-family: Minecraft; font-weight: normal; font-style: normal; src: url("font/MinecraftRegular.otf"); }
@font-face { font-family: Minecraft; font-weight: bold; font-style: normal; src: url("font/MinecraftBold.otf"); }
@font-face { font-family: Minecraft; font-weight: normal; font-style: italic; src: url("font/MinecraftItalic.otf"); }
@font-face { font-family: Minecraft; font-weight: bold; font-style: italic; src: url("font/MinecraftBoldItalic.otf"); }