header {
    background: rgba(255, 255, 255, 0.1);
}
body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(2px);
    margin: 0px;
}
nav {
    background: rgba(0, 0, 0, .6);
    padding: 10px 10px 10px 10px;
    align-content: center;
}
main {
    color: white;
    font-family: Lexend;
    float: right;
    position: relative;
    background: rgba(0, 0, 0, .6);
    padding-left: 10px;
    padding-right: 10px;
    width: 68%;
}
footer {
    color: white;
    width: 100%;
    margin: auto;
    font-family: Lexend;
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#navheader {
    float: right;
}
#navlist {
    color: white;
    list-style-type: none;
    padding-inline-start: 10px;
    font-family: Lexend;
    font-size: 40pt;
    margin: 0;
}
#gallery {
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
}
.left {
    float: left;
    width: 25%;
    font-family: Lexend;
    color: white;
    margin: 0 0 0 1.5%;
    position: relative;
}
a {
    color: white;
}
a:hover {
    color: gray;
}
@font-face { font-family: Lexend; src: url("font/Lexend.ttf") }
@font-face { font-family: Minecraft; font-weight: normal; font-style: normal; src: url("font/MinecraftRegular.otf"); }
@font-face { font-family: Minecraft; font-weight: bold; font-style: normal; src: url("font/MinecraftBold.otf"); }
@font-face { font-family: Minecraft; font-weight: normal; font-style: italic; src: url("font/MinecraftItalic.otf"); }
@font-face { font-family: Minecraft; font-weight: bold; font-style: italic; src: url("font/MinecraftBoldItalic.otf"); }